.div{
    height: 15em;
    width: 10em;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.nome,
.email,
.p{
    color: #515151;
    font-size: 1.5rem;
    margin: 0.4em;
}