.login{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.svg{
    width: 30em;
    height: 30em;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid 1px #b5bac9;
    border-radius: 1em;
    padding: 1.5em;
    background-color:#f0f0f0 ;
    height: 20em;
    width: 25em;
    border-top :2em;
}

.form h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #515151;
}

body{
    background-color: #5dc1b9;
}
