.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f0f0f0;
    height: 6em;
}

.github ,
.linkedin{
    width: 5em;
    margin-top: 0.5em;
}

.text{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-top: 0.5em;
}

.text2{
    text-align: center;
}
