.busca{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.input{
    display: flex;
    justify-content: center;
}

.h1{
    color: #515151;
    text-align: center;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}